<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/kadam/IdeaProjects/ATB13XAPIAutomationProgram/src/test/java/ex_04_RestAssured_HTTP_Methods/Post"><classes><class name="ex_04_RestAssured_HTTP_Methods.Post.APITesting_Lab07_POST_NonBDDStyle"><methods><include name="test_POST_NONBDDStyle_Create_Token"/></methods></class></classes></test></suite>